.mui-content {
	padding-bottom: 50px;
}
.fix-bottom {
	position: fixed;
	width: 100%;
	bottom: 0px;
}
.fix-bottom .mui-btn-block {
	margin: 0;
	height: 46px;
	padding: 10px 0;
}
.star {
	color: #DF5000; 
}
.title {
	line-height: 40px;
	padding: 0 15px;
}

.title .save{ 
	float: right;
}